__pycache__/

/*
!/controllers
!/core
!/managers
!/ui
!/assets
!/icon.*
!/.github
/.github/*
!/.github/workflows

/*.py
!main.py

*.md
!README.md

*.spec
!HuMidi.spec
*.pt
*.onnx
*.npz
!pedal_bilstm.npz
