/*
!/.github/
!/.gitignore
!/README.md
!/index.html
!/package.json
!/package-lock.json
!/tsconfig.json
!/tsconfig.node.json
!/vite.config.ts
!/vitest.config.ts
!/public/
!/src/
!/src-tauri/
!/.vscode/
/.vscode/*
!/.vscode/extensions.json

*.md
!README.md
*.log
*.local
*.sw?
.DS_Store
